@use "../../sass/abstracts/mixins" as m;
@use "../../sass/base/typography";

.not-found {
  &__container {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.4rem;
    row-gap: 3.2rem;

    @include m.for-size("small-up") {
      padding: 0 4rem;
    }
  }

  &__img {
    max-width: 34.5rem;
  }

  &__title {
    @extend %heading-m;
  }
}
