@use "./base/reset";
@use "./base/typography";
@use "./abstracts/placeholders";
@use "./themes/light-theme";
@use "./themes/dark-theme";

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-browse,
app-not-found {
  display: flex;
  flex: 1;
  flex-direction: column;
}
