@use "./base/reset";
@use "./base/typography";
@use "./abstracts/placeholders";

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-browse,
app-not-found {
  display: flex;
  flex: 1;
  flex-direction: column;
}
