$breakpoints: (
  "xs": 0px,
  "sm": 600px,
  "tablet": 768px,
  "md": 900px,
  "lg": 1200px,
  "desktop": 1440px,
  "xl": 1536px,
  "tv": 2000px,
);

$duration: (
  "shortest": 150ms,
  "shorter": 200ms,
  "short": 250ms,
  "standard": 300ms,
  "complex": 375ms,
  "enteringScreen": 255ms,
  "leavingScreen": 195ms,
);

$easing: (
  "easeInOut": cubic-bezier(0.4, 0, 0.2, 1),
  "easeOut": cubic-bezier(0, 0, 0.2, 1),
  "easeIn": cubic-bezier(0.4, 0, 1, 1),
  "sharp": cubic-bezier(0.4, 0, 0.6, 1),
);

$zIndex: (
  "modal": 1300,
);
