@use "../../../../../sass/abstracts/mixins" as m;

.top-bar {
  align-items: center;
  display: flex;
  height: 6.4rem;
  justify-content: space-between;
  padding: 0 2.4rem;
  position: relative;

  @include m.for-size("small-up") {
    height: 12rem;
    padding: 0 4rem;
  }

  @include m.for-size("large-up") {
    padding: 0 clamp(8rem, 25%, 75rem);
  }

  &__logo {
    width: 2.8rem;

    @include m.for-size("small-up") {
      width: 3.2rem;
    }
  }

  &__options {
    align-items: center;
    display: flex;
  }

  &__divider {
    height: 3.2rem;
    margin-left: 0.4rem;
    margin-right: 1.6rem;
  }
}
