@use "../../../../../sass/base/typography";
@use "../../../../../sass/abstracts/variables" as v;

.word {
  &__header-details {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    margin-bottom: 3.2rem;
  }

  &__title {
    @extend %heading-l;
  }

  &__phonetic {
    @extend %heading-m;
  }

  &__play-button {
    $duration: map-get(
      $map: v.$duration,
      $key: "shortest",
    );
    $easing: map-get(
      $map: v.$easing,
      $key: "sharp",
    );

    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 4.8rem;
    justify-content: center;
    outline: none;
    transition: $duration $easing;
    transition-property: background-color, fill;
    width: 4.8rem;

    &:hover,
    &:active {
      fill: #fff;
    }

    & > svg {
      height: auto;
      scale: 1.2;
      width: 100%;
    }
  }
}
