<div class="text-field__container">
  <div class="text-field__inner-container">
    <input
      type="search"
      placeholder="Search for any word..."
      class="text-field__input"
      #searchBox
      (keyup.enter)="onSearch(searchBox.value)"
      [value]="value"
      (input)="onValueChange(searchBox.value)"
    />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="18"
      height="18"
      viewBox="0 0 18 18"
      class="text-field__icon"
    >
      <path
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="m12.663 12.663 3.887 3.887M1 7.664a6.665 6.665 0 1 0 13.33 0 6.665 6.665 0 0 0-13.33 0Z"
      />
    </svg>
  </div>
  <p class="text-field__error-message">
    {{ error ? "Whoops, can't be empty..." : "&nbsp;" }}
  </p>
</div>
