@use "../../../../../sass/abstracts/mixins" as m;
@use "../../../../../sass/base/typography";

$font-weight: map-get(
  $map: typography.$font-weights,
  $key: "bold",
);

.text-field {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 0 2.4rem;
    row-gap: 0.2rem;

    @include m.for-size("small-up") {
      padding: 0 4rem;
    }

    @include m.for-size("large-up") {
      padding: 0 clamp(8rem, 25%, 75rem);
    }
  }

  &__inner-container {
    position: relative;
  }

  &__input {
    @extend %heading-s;

    border: none;
    border-radius: 1.6rem;
    font-weight: $font-weight;
    height: 4.8rem;
    outline: none;
    padding-left: 2.4rem;
    padding-right: 4.8rem;
    width: 100%;

    @include m.for-size("small-up") {
      height: 6.4rem;
    }

    &::placeholder {
      @extend %heading-s;
      font-weight: $font-weight;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    &::-ms-clear,
    &::-ms-reveal {
      display: none;
      height: 0;
      width: 0;
    }
  }

  &__icon {
    height: 2rem;
    position: absolute;
    right: 2.4rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
  }

  &__error-message {
    @extend %body-s;
    padding-left: 2.4rem;
  }
}
