@use "../../../../../sass/base/typography" as tp;

.part-of-speech {
  &__container {
    align-items: center;
    column-gap: 1.6rem;
    display: flex;
    margin-bottom: 3.2rem;
  }

  &__title {
    @extend %heading-m;

    font-style: italic;
    font-weight: map-get($map: tp.$font-weights, $key: "bold");
  }

  &__divider {
    width: 100%;
  }
}

.meaning {
  &__title {
    @extend %heading-s;
    margin-bottom: 1.2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: disc;
    padding-left: 2.4rem;
    row-gap: 1.2rem;

    &-item {
      font-size: 1.6rem;

      &-text {
        @extend %body-m;
      }

      &-example {
        @extend %body-m;
        margin-top: 0.4rem;
      }
    }
  }
}

.synonyms {
  &__container {
    align-items: flex-start;
    column-gap: 2.4rem;
    display: flex;
    margin-top: 2.4rem;
  }

  &__title {
    @extend %heading-s;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    list-style: none;
    padding: 0;

    &-item {
      @extend %heading-s;

      font-weight: map-get($map: tp.$font-weights, $key: "bold");

      &-link,
      &:visited {
        text-decoration: none;
      }
    }
  }
}
