@use "../../../../../sass/base/typography" as tp;
@use "../../../../../sass/themes/helpers";

.part-of-speech {
  &__container {
    align-items: center;
    column-gap: 1.6rem;
    display: flex;
    margin-bottom: 3.2rem;
  }

  &__title {
    @extend %heading-m;

    font-style: italic;
    font-weight: map-get($map: tp.$font-weights, $key: "bold");
  }

  &__divider {
    $color: helpers.theme(
      $key: "outline",
    );

    border: 0.1rem solid $color;
    width: 100%;
  }
}

.meaning {
  &__title {
    @extend %heading-s;

    color: helpers.theme($key: "on-surface");
    margin-bottom: 1.2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: disc;
    padding-left: 2.4rem;
    row-gap: 1.2rem;

    &-item {
      color: helpers.theme($key: "secondary");
      font-size: 1.6rem;

      &-text {
        @extend %body-m;
        color: helpers.theme($key: "on-background");
      }

      &-example {
        @extend %body-m;
        color: helpers.theme($key: "on-surface");
        margin-top: 0.4rem;
      }
    }
  }
}

.synonyms {
  &__container {
    align-items: flex-start;
    column-gap: 2.4rem;
    display: flex;
    margin-top: 2.4rem;
  }

  &__title {
    @extend %heading-s;

    color: helpers.theme($key: "on-surface");
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    list-style: none;
    padding: 0;

    &-item {
      @extend %heading-s;

      font-weight: map-get($map: tp.$font-weights, $key: "bold");

      &-link,
      &:visited {
        color: helpers.theme($key: "primary");
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
          text-decoration: underline solid helpers.theme($key: "primary");
        }
      }
    }
  }
}
